@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');
/* 'Arial Regular' */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --top-banner-color: #2874F0;
    --footer-color: #172337;
    --flipkart-yellow: #FFB500;
    --body-background: #F1F3F6; 
}

/* Utility Classes */


/* Main CSS */
body {
    font-family: 'Roboto', 'Arial Regular', sans-serif;
    background-color: var(--body-background);
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--top-banner-color);
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    height: 56px;
}

.main__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 137px;
}
.main__logo > img {
    width: 75px;
}

.main__logo > img:hover {
    cursor: pointer;
}

.flipkart__plus {
    color: #C5D45A;
}

.sub-title {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.sub-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sub-title > p {
    font-size: 10px;
    font-weight: 300;
}

.sub-title > img {
    width: 10px;
}

.input__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 36px;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
    margin-left: 12px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
}

.input__section > i {
    background-color: #fff;
    color: var(--top-banner-color);
    font-size: large;
    font-weight: bold;
}

.input__section > i:hover {
    cursor: pointer;
}

.input__section input {
    width: calc(100% - 32px);
    height: 100%;
    border: none;
    outline: none;
}

.login__button {
    background-color: #fff;
    color: var(--top-banner-color);
    width: 122px;
    padding: 8px 20px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    margin: 0 20px;
}

.login__button:hover {
    cursor: pointer;
}

.become-seller {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 600;
}
.become-seller:hover {
    cursor: pointer;
}

.more__section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 20px;
    font-weight: 600;
}

.more__section:hover {
    cursor: pointer;
}

.cart__section{
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart__section:hover {
    cursor: pointer;
}
.cart__section > i {
    font-size: large;
}
.main__header {
    width: 100%;
    /* height: 112px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    background-color: #fff;
    margin-bottom: 10px;
}
.header__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__images > img {
    width: 64px;
}

main {
    width: 100%;
}

.top__banner {
    width: 100%;
    margin: 5px 0;
    border-radius: 2px;
}
.top__banner > img {
    width: 100%;
}

.product__sections {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
}

.product__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product__types {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.product__types > h1 {
    text-align: center;
    font-weight: 400;
}

.product__types > button {
    background-color: var(--top-banner-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: 600;
}

.product__list {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    overflow-x: scroll;
}

.product__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 200px; */
    gap: 10px;
}

/* .product__box img {
    width: 100%;
} */

.product__details {
    color: #388E3C;
}

/* Website Details */
.website__descriptions {
    width: 100%;
    background-color: #fff;
    color: #878787;
    margin-top: 20px;
}

.website__container {
    width: 100%;
    padding: 30px 10px 5px;
}

.website__container h3 {
    margin-bottom: 20px;
}

.website__container p {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    background-color: var(--footer-color);
}

.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    color: #fff;
    font-size: 12px;
    line-height: 1.1;
    padding: 20px 40px;
}

.footer__left {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer__right {
    border-left: 1px solid #878787;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.left__section__heading, .right__section__heading {
    color: #878787;
    margin-bottom: 10px;
}

.left__sections p {
    margin-bottom: 10px;
}

.sub__footer {
    width: 100%;
    border-top: 1px solid #878787;
}
.sub__footer__container {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

.sub__footer__container > p {
    /* width: 400px; */
    text-align: center;
    font-size: 12px;
}
.sub__footer__left {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
}

.sub__footer__options {
    /* width: 200px; */
    display: flex;
    gap: 5px;
}




